black==21.12b0
blinker==1.4
cachelib==0.4.1
click==8.0.3
cs50==8.0.1
Flask==2.0.2
Flask-Mail==0.9.1
Flask-Session==0.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
SQLAlchemy==1.4.28
sqlparse==0.4.2
termcolor==1.1.0
tomli==1.2.3
typing_extensions==4.0.1
Werkzeug==2.0.2
gunicorn==20.1.0
